<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/main-style.css" rel="stylesheet" />

</head>

<body>


        <div class="row">
            <!-- Page Header -->
            <div class="col-lg-12">
                <h1 class="page-header">Edit page</h1>
            </div>
            <!--End Page Header -->
        </div>

        <h1>Update your profile</h1>

        <form method="post" action="../index.php?target=user&action=edit" onsubmit="return Validation(this)" name="MyRegister" enctype="multipart/form-data">
            <div class="form-group">
                First Name  <input type="text" name="name" id="name" maxlength="20" class="form-control" autofocus><br>
                <div id="usernameErr" style="visibility: hidden"></div>
            </div>
            <div class="form-group">
                Family Name  <input type="text" name="family" id="family" maxlength="20" class="form-control"><br>
                <div id="familynameErr" style="visibility: hidden"></div>
            </div>
            <div class="form-group">
                New Password  <input type="password" name="password" id="password" maxlength="20" class="form-control"><br>
                <div id="passwordErr" style="visibility: hidden"></div>
            </div>
            <div class="form-group">
                New Repeat Password <input type="password" name="repeatPassword" id="repeatPassowrd" maxlength="20" class="form-control"><br>
                <div id="rePasswordErr"></div>
            </div>
            <div class="form-group">
                Age <input type="number" name="age" id="age" maxlength="3" min="18" max="110" class="form-control"><br>
                <div id="ageErr" style="visibility: hidden"></div>
            </div>
            <div class="form-group">
                Email  <input type="email" name="email" id="email" maxlength="40" class="form-control"><br>
                <div id="emailErr" style="visibility: hidden"></div>
            </div>
            <div class="form-group">
                Avatar  <input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg"><br>
                <div id="avatarErr" style="visibility: hidden"></div>
                <div id="curAvatar" style="visibility: visible; width: 350px; height: 350px"></div>
            </div>
            <div class="form-group">
                Current Password <input type="password" name="currentPassword" id="currentPassword" maxlength="20" class="form-control"><br>
                <div id="currentPasswordErr"></div>
            </div>

            <input type="submit" name="edit" id="reg" class="btn btn-lg btn-success btn-block">
        </form>
        <div id="errorHolder"></div>

    </div>
    <!-- end page-wrapper -->


<!-- end wrapper -->
<script src="./assets/js/checkIfUserIsLogged.js"></script>
<!-- Core Scripts - Include with every page -->
<script src="assets/js/edit.js"></script>
<script src="assets/plugins/jquery-1.10.2.js"></script>
<script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="assets/plugins/pace/pace.js"></script>
<script src="assets/scripts/siminta.js"></script>

</body>

</html>
