<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Core CSS - Include with every page -->
    <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />


</head>
<body>

    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <a class="navbar-brand" id="home2">
                    <img src="assets/img/logoFinance.png" style="width: 200px; height: 50px;" alt="" />
                </a>
            </div>

            <!-- end navbar-header -->
            <!-- navbar-top-links -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a onclick="logout()"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="assets/img/use.png" alt="">
                            </div>
                            <div class="user-info">
                                <div>Jonny <strong>Deen</strong></div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li >
                        <a id="home"><i class="fa fa-dashboard fa-fw"></i>HOME</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id="budgetChart">Budget Charts</a>
                            </li>
                            <li>
                                <a id="accountChart">Account Charts</a>
                            </li>
                            <li>
                                <a id="crChart">Cryptocurrency Chart</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li >
                        <a id="budgetForm"><i class="fa fa-dashboard fa-fw"></i>Create Budget</a>
                    </li>
                     <li>

                        <a id="checkBudget"><i class="fa fa-flask fa-fw"></i>Check Budget Planner</a>
                     </li>
                    <li>
                        <a id="transfer"><i class="fa fa-flask fa-fw"></i>Transfer</a>

                    </li>
                    <li>

                        <a id="crypto"><i class="fa fa-table fa-fw"></i>Top 10 Cryptocurrencies</a>
                    </li>
                    <li>

                        <a id="yourCrypto"><i class="fa fa-table fa-fw"></i>Your Cryptocurrencies</a>
                    </li>
                    <li>
                        <a id="targets"><i class="fa fa-table fa-fw"></i>Targets</a>
                    </li>

                    </li>
                    <!--<li>-->
                        <!--<a href="forms.html"><i class="fa fa-edit fa-fw"></i>Forms</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-wrench fa-fw"></i>UI Elements<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a href="panels-wells.html">Panels and Wells</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="buttons.html">Buttons</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="notifications.html">Notifications</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="typography.html">Typography</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="grid.html">Grid</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; second-level-items &ndash;&gt;-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i>Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a href="#">Second Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Second Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Third Level <span class="fa arrow"></span></a>-->
                                <!--<ul class="nav nav-third-level">-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--&lt;!&ndash; third-level-items &ndash;&gt;-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; second-level-items &ndash;&gt;-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-files-o fa-fw"></i>Sample Pages<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a href="topTenCrypto.html">Blank Page</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="login.html">Login Page</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; second-level-items &ndash;&gt;-->
                    <!--</li>-->
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
    </div>


    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div id="div1" style="width:1200px; margin-left: 300px;" ></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div id="main" style="width:1200px; margin-left: 300px;" ></div>
            </div>
        </div>
    </div>




        <script>
            $(document).ready(function(){
                $('#main').load('main.html');

            });
            $("#home2").click(function () {
                $('#div1').load('main.html');
                $("#main").hide();
            });
            $("#budgetChart").click(function () {
                $('#div1').load('./budgets-html/budgetChart.html');
                $("#main").hide();
            });
            $("#accountChart").click(function () {
                $('#div1').load('accountChart.html');
                $("#main").hide();
            });
            $("#budgetForm").click(function () {
                $('#div1').load('./budgets-html/budget.html');
                $("#main").hide();
            });

            $("#crypto").click(function () {
                $('#div1').load('topTenCrypto.html');
                $("#main").hide();
            });

            $("#crChart").click(function () {
                $('#div1').load('cryptocurrencyChart.html');
                $("#main").hide();
            });
            $("#yourCrypto").click(function () {
                $('#div1').load('yourCryptocurrencies.html');
                $("#main").hide();
            });


            $("#targets").click(function () {
                $('#div1').load('targets.html');
                $("#main").hide();
            });



            $("#home").click(function () {
                $('#div1').load('main.html');
                $("#main").hide();
            });


            $("#checkBudget").click(function () {
                $('#div1').load('./budgets-html/checkBudget.html');
                $("#main").hide();
            });

            $("#transfer").click(function () {
                $('#div1').load('transfer.html');
                $("#main").hide();
            });
        </script>


    <script src="assets/js/logout.js"></script>
    <script src="./assets/js/checkIfUserIsLogged.js"></script>
    <!-- Core Scripts - Include with every page -->
    <!--<script src="assets/plugins/jquery-1.10.2.js"></script>-->
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/plugins/pace/pace.js"></script>
    <script src="assets/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/plugins/morris/morris.js"></script>
    <script src="assets/scripts/dashboard-demo.js"></script>


</body>
</html>