<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Core CSS - Include with every page -->
    <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <a class="navbar-brand" id="home2">
                    <img src="assets/img/logoFinance.png" style="width: 200px; height: 50px;" alt="" />
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="edit" href="edit.html">
                        <i class="fa fa-pencil-square-o fa-3x"></i>
                    </a>
                </li>

                <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" onclick="logout()"><i class="fa fa-sign-out fa-3x"></i></a>
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div id="userProf"></div>
                        <!--end user image section-->
                    </li>
                    <li >
                        <a id="home" ><i class="fa fa-dashboard fa-fw"></i>HOME</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id="budgetChart" >Budget Charts</a>
                            </li>
                            <li>
                                <a id="accountChart" >Account Charts</a>
                            </li>
                            <li>
                                <a id="crChart" >Cryptocurrency Chart</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li >
                        <a id="budgetForm" ><i class="fa fa-money fa-fw"></i> Create Budget</a>
                    </li>
                     <li>

                        <a id="checkBudget" ><i class="fa fa-check-square-o fa-fw"></i>Check Budget Planner</a>
                     </li>
                    <li>
                        <a id="transfer" ><i class="fa fa-flask fa-fw"></i>Transfer</a>

                    </li>
                    <li>

                        <a id="crypto"><i class="fa fa-bitcoin fa-fw"></i>Top 10 Cryptocurrencies</a>
                    </li>
                    <li>

                        <a id="yourCrypto" ><i class="fa fa-bitcoin fa-fw"></i>My Cryptocurrencies</a>
                    </li>
                    <li>
                        <a id="targets" ><i class="fa fa-table fa-fw"></i>Targets</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Timelines<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id="accountTimeline" >Account Timeline</a>
                            </li>
                            <li>
                                <a id="categoryTimeline" >Category Timeline</a>
                            </li>

                        </ul>
                        <!-- second-level-items -->
                    </li>

                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
    </div>


    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div id="div1" style="width:1200px; margin-left: 300px;" ></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div id="main" style="width:1200px; margin-left: 300px;" ></div>
            </div>
        </div>
    </div>




        <script>
            $(document).ready(function(){
                $('#main').load('main.html');

            });
            $("#categoryTimeline").click(function () {
                $('#div1').load('categoryTimeline.html');
                $("#main").hide();
            });
            $("#accountTimeline").click(function () {
                $('#div1').load('accountTimeline.html');
                $("#main").hide();
            });
            $("#home2").click(function () {
                $('#div1').load('main.html');
                $("#main").hide();
            });
            $("#edit").click(function () {
                $('#div1').load('edit.html');
                $("#main").hide();
            });

            $("#budgetChart").click(function () {
                $('#div1').load('./budgets-html/budgetChart.html');
                $("#main").hide();
            });
            $("#accountChart").click(function () {
                $('#div1').load('accountChart.html');
                $("#main").hide();
            });
            $("#budgetForm").click(function () {
                $('#div1').load('./budgets-html/budget.html');
                $("#main").hide();
            });

            $("#crypto").click(function () {
                $('#div1').load('topTenCrypto.html');
                $("#main").hide();
            });

            $("#crChart").click(function () {
                $('#div1').load('cryptocurrencyChart.html');
                $("#main").hide();
            });
            $("#yourCrypto").click(function () {
                $('#div1').load('yourCryptocurrencies.html');
                $("#main").hide();
            });


            $("#targets").click(function () {
                $('#div1').load('targets.html');
                $("#main").hide();
            });



            $("#home").click(function () {
                $('#div1').load('main.html');
                $("#main").hide();
            });


            $("#checkBudget").click(function () {
                $('#div1').load('./budgets-html/checkBudget.html');
                $("#main").hide();
            });

            $("#transfer").click(function () {
                $('#div1').load('transfer.html');
                $("#main").hide();
            });
        </script>


    <script src="assets/js/logout.js"></script>
    <script src="./assets/js/checkIfUserIsLogged.js"></script>
    <script src="./assets/js/userProfile.js"></script>
    <!-- Core Scripts - Include with every page -->
    <!--<script src="assets/plugins/jquery-1.10.2.js"></script>-->
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/plugins/pace/pace.js"></script>
    <script src="assets/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/plugins/morris/morris.js"></script>
    <script src="assets/scripts/dashboard-demo.js"></script>


</body>
</html>