
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./assets/js/addCrypto.js"></script>
<script src="./assets/js/listUserCrypto.js"></script>
<script src="./assets/js/cryptoCalculator.js"></script>
<script>
    listUserCrypto();
    addCrypto();
    cryptoCalculator();
</script>

<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header"><img src="./assets/img/crypto.jpg" style="width:120px; height: 70px;"> My Cryptocurrencies</h1>
    </div>

<!--<div class="col-sm-10" >-->
    <!--<div id="addCrypto" style="width: 100%; "></div>-->
    <!--<div id="push"></div>-->
    <!--<div id="errHolder"></div>-->
<!--</div>-->
    <div class="col-lg-12" style="height: 1600px;">
        <div class="panel-heading">
            <!-- Form Elements -->

            <div class="panel panel-default" style="width: 500px;">

                <div class="panel-body" style="width: 950px">

                    <div class="row">
                        <div class="col-lg-6" >
                            <div id="addCrypto" style="width: 100%; "></div>
                            <div id="push"></div>
                            <div id="errHolder"></div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-sm-10" >
                <div class="panel-heading">
                    </br>
                    </br>
                    <p style="color: goldenrod;">*Legend - green(profit), red(loss)</p>
                    <div id="loadingB"><img src="assets/img/loadingBar.gif" style="height: 30px; width: 30px;"></div>
                    </br>
                </div>
                <div id="calc" style="width: 100%; height: 600px;"></div>
            </div>

        </div>

    </div>



</div>

</body>
